.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/neumerator.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
quantizer-checkpoint.ipynb
manuscript_generation-checkpoint.ipynb
